@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'MinhaFonte';
  src: url('../Fonts/PokemonSolidNormal-xyWR.ttf') format('opentype');
}

*{  
 padding:0px ;
 margin: 0px;
 box-sizing: border-box;
 font-family: "inter";   
}
.titulo {
font-size: 76px;
font-family:"MinhaFonte" /*Ps coloca a fonte ai inter para ficar igual ao de todo mundo*/

}

.robo-image{    

    background-image: url("../assets/imgs/Rectangle\ 1.png");
    background-size: cover;
    background-position:0px -100px ;
    width: 50vw;
    height: 100vh;
}

.page-container{    

    display:flex;


}
.login-container{   
      background-color: rgb(255, 255, 255);
      width:50vw;
      height:100vh ;

      /* Kit centralizaçãoverflow */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
.logo{   
    height: 60px; 
     

}

