
*{  
 padding:0px ;
 margin: 0px;
 box-sizing: border-box;
 font-family: "inter";   
}
<<<<<<< HEAD
.titulo {
font-size: 76px;
font-family:"inter"; /*Ps coloca a fonte ai inter para ficar igual ao de todo mundo*/
text-align: center;
=======

.titulo {

  font-size: 76px; /* Ajuste o tamanho conforme necessário */
  font-family: "inter";
  text-align: center; /* Alinha o título no centro */
  margin-top: 0;
  margin-bottom: 16px; /* Dá um espaçamento abaixo do título */
  width: 400px;
  
>>>>>>> d30798b762c46cbb0ca492a0b19ab48d2049317f
}

.robo-image{    

    background-image: url("../assets/imgs/Rectangle\ 1.png");
    background-size: cover;
    background-position:0px -100px ;
    width: 50vw;
    height: 100vh;
}

.page-container{    

    display:flex;


}
.login-container{   
      background-color: rgb(255, 255, 255);
      width:50vw;
      height:100vh ;

      /* Kit centralizaçãoverflow */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
.logo{   
    height: 60px; 
<<<<<<< HEAD
    

}


.text{
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "inter";
    padding: 18px;
    border-radius: 10px;
    width:  377px;
    
}
.text1{
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "inter";
    padding: 18px;
    border-radius: 10px;
    width:  377px;
}

.button{
    width:377px ;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "inter";
}

=======
    margin-bottom: 8px; 

}

.inpute{ 
 padding: 20px; /*margem interna*/
 background-color:#F7F9FB;
 width: 377px;
 border: 1px solid #ccc;
 border-radius: 10px;
 margin-bottom: 16px;
}
.butone{    
 padding: 20px; /*margem interna*/
 background-color:#F7F9FB;
 width: 377px;
 border: 1px solid #ccc;
 border-radius: 10px;
 margin-bottom: 16px;
background-color: #1c1c1c;
color: #ccc;
}
>>>>>>> d30798b762c46cbb0ca492a0b19ab48d2049317f
